.contact-wrapper{
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex-wrap: wrap;
  padding-top: 36px;
  .contact-block{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    a{
      font-family: 'Proxima Nova', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      opacity: 0.7;
      white-space: nowrap;
      text-decoration: none;
    }
    img{
      width: 20px;
      height: 20px;
      padding-right: 10px;
    }
  }
}
.contact-wrapper-mobile{
  display: flex;
  width: fit-content;
  .contact-block-mobile{
    display: flex;
    img {
      width: 20px;
      height: 20px;
      padding-left: 10px;
    }
  }
}