.contact-wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 36px;
  .contact-block{
    display: flex;
    padding-bottom: 20px;
    div{
      font-family: 'Proxima Nova', serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      opacity: 0.7;
      white-space: nowrap;
    }
    img{
      width: 20px;
      height: 20px;
      padding-right: 10px;
    }
  }
}