.contact-wrapper{
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  padding-top: 37px;
  .contact-block{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    width: fit-content;
    height: fit-content;
    a{
      font-family: 'Proxima Nova', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      opacity: 0.7;
      white-space: nowrap;
      text-decoration: none;
    }
    img{
      margin-right: 20px;
    }
  }
  .contact-block:not(:last-child){
    margin-right: 20px;
  }
}
.contact-wrapper-mobile{
  display: flex;
  width: fit-content;
  .contact-block-mobile{
    display: flex;
  }
  .contact-block-mobile:not(:first-child){
    margin-left: 10px;
  }
}