.card-wrapper{
  position: absolute;
  right: 0;
  top: 10%;
  width: 40%;
  height: fit-content;
  z-index: 9999;
  background: rgba(147, 145, 254, 0.15);
  box-shadow: 0px 3.54751px 26.6063px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 40px 0px 0px 0px;
  .card-contanier{
    padding: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    .card-close-button{
      align-self: flex-end;
      padding-bottom: 26px;
      cursor: pointer;
    }
    .content{
      display: flex;
      flex-direction: column;
      height: fit-content;
      .card-title{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }
      .card-task{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 30px 0 10px 0;
      }
      .card-description{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 30px;
      }
      .card-salary-title{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding-bottom: 10px;
      }
      .card-salary{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 2px;
      }
      .card-version{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 30px;
      }
      .card-demand-title{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding-bottom: 10px;
      }
      .card-job-vacancy{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 4px;
      }
      .card-programs{
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      .card-link{
        border: 0.886878px solid #FFFFFF;
        filter: drop-shadow(0px 4px 10px rgba(64, 137, 227, 0.37));
        border-radius: 53.2127px;
        width: fit-content;
        .direction-link{
            padding: 9px 18px 9px 18px;
            a {
              font-family: Proxima Nova, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
              text-decoration-line: underline;
              color: #FFFFFF;
              align-self: center;
              padding: 9px 10px 9px 13.85px;
              white-space: nowrap;
            }
            img {
              align-self: center;
              padding-right: 13.85px;
            }
        }
      }
      .card-link.clicked {
        background: rgba(192, 232, 255, 0.4);
        border: 0.886878px solid #FFFFFF;
        box-shadow: 0px 4px 10px rgba(64, 137, 227, 0.37);
        border-radius: 53.2127px;
      }
      .card-link.navigated {
        background: rgba(192, 232, 255, 0.13);
        border: 0.886878px solid #FFFFFF;
        box-shadow: 0px 4px 10px rgba(64, 137, 227, 0.37);
        border-radius: 53.2127px;
      }
      }
    }
  }
@media (max-width: 1537px) {
  .card-wrapper {
    width: 75%;
    top: 15%;
    border-radius: 40px 0 0 0;
    .card-contanier {
      padding: 15px 25px 25px 25px;
      display: flex;
      flex-direction: column;
      .card-close-button {
        align-self: flex-end;
        padding-bottom: 13px;
      }
    }
  }
}
@media (max-width: 1229px) {
  .card-wrapper {
    width: 75%;
    height: fit-content;
    top: 15%;
    border-radius: 40px 0 0 0;
    .card-contanier {
      padding: 15px 25px 25px 25px;
      display: flex;
      flex-direction: column;
      .card-close-button {
        align-self: flex-end;
        padding-bottom: 13px;
      }
    }
  }
}

@media (max-width: 1150px) {
  .card-wrapper {
    width: 85%;
    height: fit-content;
    top: 10%;
    border-radius: 40px 0 0 0;
    .card-contanier {
      padding: 15px 25px 25px 25px;
      display: flex;
      flex-direction: column;
      .card-close-button {
        align-self: flex-end;
        padding-bottom: 13px;
      }
    }
  }
}
@media (max-width: 1030px) {
  .card-wrapper {
    width: 90%;
    height: fit-content;
    top: 10%;
    border-radius: 40px 0 0 0;
    .card-contanier {
      padding: 15px 25px 25px 25px;
      display: flex;
      flex-direction: column;
      .card-close-button {
        align-self: flex-end;
        padding-bottom: 13px;
      }
      .card-link {
        border: 0.886878px solid #FFFFFF;
        filter: drop-shadow(0px 4px 10px rgba(64, 137, 227, 0.37));
        border-radius: 53.2127px;
        width: fit-content;
      }
    }
  }
}
@media (max-width: 830px) {
  .card-wrapper {
    width: 100%;
    height: fit-content;
    top: 10%;
    border-radius: 40px 0 0 0;
  }
}
@media (max-width: 631px) {
  .card-wrapper{
    position: absolute;
    right: 0;
    top: 10%;
    width: 100%;
    height: fit-content;
    z-index: 9999;
    background: rgba(147, 145, 254, 0.15);
    box-shadow: 0px 3.54751px 26.6063px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    border-radius: 40px 0 0 0;
    .card-contanier{
      padding: 15px 25px 25px 25px;
      display: flex;
      flex-direction: column;
      .card-close-button{
        align-self: flex-end;
        padding-bottom: 26px;
      }
      .content{
        display: flex;
        flex-direction: column;
        height: fit-content;
        .card-title{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 29px;
          color: #FFFFFF;
        }
        .card-task{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 19px;
          color: #FFFFFF;
          padding: 30px 0 10px 0;
        }
        .card-description{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 120%;
          color: rgba(255, 255, 255, 0.6);
          padding-bottom: 30px;
        }
        .card-salary-title{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 19px;
          color: #FFFFFF;
          padding-bottom: 10px;
        }
        .card-salary{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 140%;
          color: rgba(255, 255, 255, 0.6);
          padding-bottom: 2px;
        }
        .card-version{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 140%;
          color: rgba(255, 255, 255, 0.6);
          padding-bottom: 30px;
        }
        .card-demand-title{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 19px;
          color: #FFFFFF;
          padding-bottom: 10px;
        }
        .card-job-vacancy{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: rgba(255, 255, 255, 0.6);
          padding-bottom: 4px;
        }
        .card-programs{
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 13px;
          line-height: 22px;
          color: #FFFFFF;
          padding-bottom: 20px;
        }
        .card-link{
          border: 0.886878px solid #FFFFFF;
          filter: drop-shadow(0px 4px 10px rgba(64, 137, 227, 0.37));
          border-radius: 53.2127px;
          width: fit-content;
          .direction-link{
            padding: 9px 18px 9px 18px;
            a {
              font-family: Proxima Nova, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 10px;
              line-height: 22px;
              text-decoration-line: underline;
              color: #FFFFFF;
              align-self: center;
              padding: 9px 10px 9px 13.85px;
              white-space: nowrap;
            }
            img {
              align-self: center;
              padding-right: 13.85px;
            }
          }
        }
        .card-link.clicked {
          background: rgba(192, 232, 255, 0.4);
          border: 0.886878px solid #FFFFFF;
          box-shadow: 0px 4px 10px rgba(64, 137, 227, 0.37);
          border-radius: 53.2127px;
        }
        .card-link.navigated {
          background: rgba(192, 232, 255, 0.13);
          border: 0.886878px solid #FFFFFF;
          box-shadow: 0px 4px 10px rgba(64, 137, 227, 0.37);
          border-radius: 53.2127px;
        }
      }
    }
  }
}

