.marketing-analytics-constellation{
  display: flex;
  padding-left: 166.26px;
  width: 580.19px;
  height: 311.72px;
  flex-direction: column;
  img.white-star{
    height: 26.55695714932564px;
    width: 27.71949389714884px;
  }
  .title{
    font-family: 'Proxima Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 3.98px;
  }
  .sub-title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .constellation{
    position: relative;
    width: 580.19px;
    height: 248.55px;
    .marketing-analytic{
      position: absolute;
      top: 33.3px;
      left: 10.34px;
    }
    .perfomance-marketing{
      position: absolute;
      top: 64.39px;
      left: 100.24px;
    }
    .advert-manager{
      position: absolute;
      top: 136.31px;
      left: 177.56px;
    }
    .account-manager{
      position: absolute;
      top: 121.79px;
      left: 55.69px;
    }
    .advert-strategic{
      position: absolute;
      top: 94.55px;
      left: 241.71px;
    }
    .marketing-manager{
      position: absolute;
      top: 148.1px;
      left: 281.61px;
    }
    .specialist-research{
      position: absolute;
      top: 208.69px;
      left: 361.96px;
    }
    .marketing-supervisor{
      position: absolute;
      top: 93.89px;
      left: 385.83px;
    }
    .marketing-director{
      position: absolute;
      top: 65.19px;
      left: 445.49px;
    }
    .line-1{
      position: absolute;
      top: 47.61px;
      left: 30.63px;
    }
    .line-2{
      position: absolute;
      top: 80.86px;
      left: 116.54px;
    }
    .line-3{
      position: absolute;
      top: 134.52px;
      left: 67.22px;
    }
    .line-4{
      position: absolute;
      top: 104.16px;
      left: 186.33px;
    }
    .line-5{
      position: absolute;
      top: 108px;
      left: 257.25px;
    }
    .line-6{
      position: absolute;
      top: 162.07px;
      left: 292.33px;
    }
    .line-7{
      position: absolute;
      top: 75.43px;
      left: 302.3px;
    }
  }
}