.marketing-analytics-constellation{
  position: absolute;
  top: 51px;
  left: 589.68px;
  .title{
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 5px;
    opacity: 100%;
  }
  .sub-title{
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 24.19px;
    opacity: 60%;
  }
}