.brand-development-constellation{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 111.59px;
  left: 71px;
  .title{
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 3.98px;
  }
  .sub-title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 32.94px;
  }
}