.star-map-wrapper{
  box-sizing: border-box;
  border-top: 0.77px solid #FFFFFF;
  border-left: 0.77px solid #FFFFFF;
  border-right: 0.77px solid #FFFFFF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
  .tool-bar{
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
    img{
      width: 49.64px;
      height: 53.59px;
    }
    .fullscreen{
        padding: 41px 89.82px 0 20px;
    }
    .navigation{
      padding-top: 41px;
    }
  }
}
.star-map-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.star-map-wrapper.clicked{
  cursor: url("../../../../public/images/handleCoursor.png"), auto;
}
