.star-map-wrapper{
  box-sizing: border-box;
  border-top: 0.77px solid #FFFFFF;
  border-left: 0.77px solid #FFFFFF;
  border-right: 0.77px solid #FFFFFF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.star-map-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}