.App {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding: 63px 69px 0 69px;
    min-height: 100%;
}
@media (max-width: 1000px) {
    .container{
        padding: 70px 49px 0 49px;
        min-height: 100%;
    }
}
@media (max-width: 730px) {
    .container{
        padding: 70px 45px 0 45px;
        min-height: 100%;
    }
}
@media (max-width: 580px) {
    .container{
        padding: 70px 35px 0 35px;
        min-height: 100%;
    }
}
@media (max-width: 569px) {
    .container{
        padding: 70px 10px 0 10px;
        min-height: 100%;
    }
}



