.App {
    overflow: hidden;
}
.container{
    padding: 63px 200px 0 200px;
    min-height: 100%;
}
@media (max-width: 1000px) {
    .container{
        padding: 70px 100px 0 100px;
        min-height: 100%;
    }
}
@media (max-width: 700px) {
    .container{
        padding: 70px 45px 0 45px;
        min-height: 100%;
    }
}
@media (max-width: 580px) {
    .container{
        padding: 70px 35px 0 35px;
        min-height: 100%;
    }
}
@media (max-width: 569px) {
    .container{
        padding: 70px 10px 0 10px;
        min-height: 100%;
    }
}



